/* general game styling */
* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

button {
  top: 50%;
  background-color: #383845;
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
  cursor: pointer;
}

#title,
h1 {
  /* padding: 10px; */
  /* flex: column; */
  width: 100%;
  display: block;
  align-items: center;
  text-align: center;
  left: 25%;
  color: rgb(145, 214, 211);
  /* font-size: 2em;
  letter-spacing: 0.25em;
  font-weight: 700; */
}

@media screen and (max-width: 1279px) {
  * {
    display: "none";
  }
}

#restart-hg {
  border-radius: 10px;
  background-color: #070707;
  color: white;
  font-weight: bold;
}

#main-menu {
  color: #070707;
  background-color: rgb(145, 214, 211);
  display: inline-block;
  width: 300px;
  padding: 5px;
  border-radius: 25px;
  border: 0.15em solid rgb(248, 235, 161);
}

body {
  /* margin: auto;
  width: 25%; */
  display: flex;
  flex-direction: colum;
  flex-wrap: wrap;
  background-color: #000000;
}

#game-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
  padding-right: 10%;
}

body,
canvas {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* margin-left: 25%;
  margin-top: 0%; */
  /* border: 2px solid rgb(248, 235, 161); */
  border-radius: 10px;
  align-items: center;
  position: static;
}

canvas {
  flex-basis: 50%;
  border-radius: 25px;
  border: 0.15em solid rgb(248, 235, 161);
  /* border-radius: 10px;
  padding: 10px; */
}

#clue-list,
#science-clues,
#engineering-clues {
  color: #000000;
  /* position: absolute; */
  bottom: 125px;
  left: 10px;
  border-radius: 25px;
  border: 0.15em solid rgb(248, 235, 161);
  height: 400px;
  width: 275px;
  background-color: rgb(145, 214, 211);
  padding: 10px;
  word-wrap: normal;
  font-size: 5;
}

#math-clues {
  /* position: absolute; */
  bottom: 125px;
  left: 10px;
  border-radius: 25px;
  border: 0.15em solid rgb(248, 235, 161);
  height: 400px;
  width: 275px;
  background-color: rgb(145, 214, 211);
  padding: 10px;
  word-wrap: normal;
  font-size: 5;
}
#tech-clues {
  /* position: absolute; */
  bottom: 125px;
  left: 10px;
  border-radius: 25px;
  border: 0.15em solid rgb(248, 235, 161);
  height: 400px;
  width: 275px;
  background-color: rgb(145, 214, 211);
  padding: 10px;
  word-wrap: normal;
  font-size: 12px;
}
#clue-list,
#science-clues,
#engineering-clues,
#math-clues,
#tech-clues,
h3 {
  color: black;
}

#rules {
  position: absolute;
  border: 2px solid black;
  height: 650px;
  width: 100%;
  left: 0%;
  top: 17%;
  background-image: linear-gradient(to bottom right, rgb(145, 214, 211), white);
  border-radius: 30px;
  /* padding: 10px; */
  text-align: center;
}
#game {
  /* display: flex; */
  border: 2px solid black;
  background-color: rgb(145, 214, 211);
  border-radius: 30px;
  padding: 10px;
  text-align: center;
  margin-top: auto;
  width: 775px;
  height: 640px;
}

#dialogue {
  color: white;
  overflow: hidden;
  border: 0.15em solid rgb(248, 235, 161);
  border-radius: 25px;
  white-space: nowrap;
  animation: typing 2s steps(10, end) forwards;
  font-size: 10;
  width: 800;
  background-color: black;
  text-align: center;
  padding: 10px;
}

#inner {
  color: rgb(248, 235, 161);
  text-shadow: #fff;
  size: 20;
  animation: typing 2s steps(10, end) forwards;
}

/* #dialogue .innerText {
  color: rgb(248, 235, 161);
  text-shadow: #fff;
  size: 20;
} */

.hidden {
  display: none;
}

@keyframes typing {
  from {
    width: 25%;
  }
  to {
    width: 100%;
  }
}

/* scrammbler */

nav h1 {
  text-decoration: underline;
  font-size: 2em;
  letter-spacing: 0.2em;
  font-weight: 500;
}

#scrammblerules p {
  color: #4c4a37;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 15px;
  margin: 0 0 24px;
}

#scrammblerules button:hover,
button {
  top: 50%;
  background-color: #383845;
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
}
#back-to-lobby {
  background-color: rgb(118, 58, 137);
}

#game-container {
  text-align: center;
  color: #4c4a37;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 15px;
  margin: 0 0 24px;
}
nav {
  text-align: center;
}

#scrambled-word {
  padding: 10px;
  text-align: center;
  color: rgb(118, 58, 137);
  font-size: 2em;
  letter-spacing: 0.2em;
  font-weight: 700;
}

#user-guess {
  text-align: center;
  color: #4c4a37;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 15px;
  height: 20px;
  margin: 0 0 24px;
}

/* pridle */
#pridle {
  border: 2px solid black;
  background-color: rgba(69, 77, 76, 0);
  border-radius: 30px;
  padding: 10px;
  text-align: center;
  margin-top: auto;
  width: 775px;
  height: 640px;
}

.pcontainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border: 2px solid rgb(243, 235, 235);
  background-color: rgba(73, 83, 83, 0);
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  /* margin-top: auto; */
  width: 775px;
  height: 640px;
}

.black {
  flex: row;
  width: calc(33.333%);
  height: calc(50%);
  /* position: relative; */
  box-sizing: content-box;
  background-color: black;
}

.form {
  /* position: absolute; */
  left: 82%;
  bottom: 5%;
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}
#guessContainer {
  /* position: absolute; */
  bottom: 125px;
  left: 10px;
  border-radius: 25px;
  border: 0.15em solid rgb(248, 235, 161);
  height: 400px;
  width: 275px;
  background-color: rgb(248, 235, 161);
  padding: 10px;
  word-wrap: normal;
  font-size: 20px;
  color: black;
  font-weight: 200;
}
.pheader {
  position: absolute;
  width: 800px;
  margin-top: auto;
  text-align: center;
  text-justify: right;
}
#lang {
  height: 50px;
  width: 500px;
  font-size: 20px;
}
#nameSguess,
#nameTguess,
#nameEguess,
#nameMguess,
#nameLguess {
  margin-left: 0%;
  margin-top: auto;
  color: white;
  size: 400px;
}

#nameSguess,
#nameTguess,
#nameEguess,
#nameMguess,
#nameLguess,
h3 {
  width: 400px;
  color: white;
}

/* memory game styling */

.mem-container {
  width: 800px;
  height: 640px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
  perspective: 1000px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: rgb(62, 62, 92);
}

.card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  border: 2px solid lightskyblue;
}

.card:active {
  transform: scale(0.97);
  transition: transform 1s;
}

.card.flip {
  transform: rotateY(180deg);
}

.front, .back {
  width: 100%;
  height: 100%;
  /* padding: 5px; */
  position: absolute;
  border-radius: 5px;
  backface-visibility: hidden;
}

.front {
  transform: rotateY(180deg);
}

.blink_me {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
