/* general game styling */
* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

button {
  top: 50%;
  background-color: #383845;
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
  cursor: pointer;
}

#title h1 {
  padding: 10px;
  text-align: center;
  color: rgb(145, 214, 211);
  font-size: 1em;
  letter-spacing: 0.25em;
  font-weight: 700;
}

@media screen and (max-width: 1279px) {
  * {
    display: none;
  }
}

#restart-hg {
  border-radius: 10px;
  background-color: #070707;
  color: white;
  font-weight: bold;
}

#main-menu {
  color: #070707;
  background-color: rgb(145, 214, 211);
  display: inline-block;
  width: 300px;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid black;
}

body {
  /* margin: auto;
  width: 25%; */
  background-color: #423e41;
}

/* #game-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

canvas {
  margin-left: 25%;
  margin-top: 0%;
  border: 2px solid white;
  border-radius: 10px;
}

#clue-list,
#science-clues,
#engineering-clues {
  color: black;
  position: absolute;
  bottom: 125px;
  left: 10px;
  border: 2px solid black;
  height: 400px;
  width: 275px;
  background-color: rgb(145, 214, 211);;
  border-radius: 10px;
  padding: 10px;
  word-wrap: normal;
  font-size: 5;
}

#math-clues {
  position: absolute;
  bottom: 125px;
  left: 10px;
  border: 2px solid black;
  height: 400px;
  width: 275px;
  background-color: rgb(145, 214, 211);
  border-radius: 10px;
  padding: 10px;
  word-wrap: normal;
  font-size: 5;
}
#tech-clues {
  position: absolute;
  bottom: 125px;
  left: 10px;
  border: 2px solid black;
  height: 400px;
  width: 300px;
  background-color: rgb(145, 214, 211);
  border-radius: 10px;
  padding: 10px;
  word-wrap: normal;
  font-size: 12px;
}

#rules {
  position: absolute;
  /* top: 30px; */
  /* left: 20px; */
  border: 2px solid black;
  height: 400px;
  width: 400px;
  background-color: rgb(145, 214, 211);
  border-radius: 30px;
  padding: 10px;
  top: 200px;
  left: 800px;
  text-align: center;
}
#game {
  border: 2px solid black;
  background-color: rgb(145, 214, 211);
  border-radius: 30px;
  padding: 10px;
  text-align: center;
  margin-left: 25%;
  margin-top: auto;
  width: 800px;
  height: 650px;
}
#dialogue {
  color: white;
  overflow: hidden;
  border-right: 0.15em solid yellow;
  white-space: nowrap;
  animation: typing 3s steps(20, end) forwards;
  font-size: 10;
  width: 800;
  background-color: black;
  text-align: center;
  padding: 10px;
}

.hidden {
  display: none;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* scrammbler */

nav h1 {
  text-decoration: underline;
  font-size: 2em;
  letter-spacing: 0.2em;
  font-weight: 500;
}

#scrammblerules p {
  color: #4c4a37;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 15px;
  margin: 0 0 24px;
}

#scrammblerules button:hover,
button {
  top: 50%;
  background-color: #383845;
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
}
#back-to-lobby {
  background-color: rgb(118, 58, 137);
}

#game-container {
  text-align: center;
  color: #4c4a37;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 15px;
  margin: 0 0 24px;
}
nav {
  text-align: center;
}

#scrambled-word {
  padding: 10px;
  text-align: center;
  color: rgb(118, 58, 137);
  font-size: 2em;
  letter-spacing: 0.2em;
  font-weight: 700;
}

#user-guess {
  text-align: center;
  color: #4c4a37;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 15px;
  height: 20px;
  margin: 0 0 24px;
}

/* pridle */
.pcontainer {
  margin-left: 25%;
  margin-top: auto;
  width: 800px;
  height: 650px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-size: 800x, 640px;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.black {
  width: 33.33333%;
  height: 50%;
  box-sizing: border-box;
  background-color: black;
}
.pheader {
  position: absolute;
  left: 0%;
  top: 10%;
}
.playerGuess {
  position: absolute;
  left: 82%;
  bottom: 10%;
  width: 200px;
  height: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(245, 255, 63);
  background-repeat: no-repeat;
  font-size: 20px;
}

.form {
  position: absolute;
  left: 82%;
  bottom: 5%;
}
.pheader {
  margin-left: 25%;
  margin-top: auto;
}
#techguess {
  display: inline-block;
  margin-left: 0%;
  margin-top: auto;
  color: white;
}

#techguess h3 {
  color: white;
}
/* memory game styling */
.container {
  margin-left: 25%;
  margin-top: auto;
  width: 800px;
  height: 650px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 5px;
  perspective: 1000px;
  background-color: lightpink;
  border: 2px solid hotpink;
}

.card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  background-color: lightpink;
  border: 2px solid hotpink;
}

.card:active {
  transform: scale(0.97);
  transition: transform 1s;
}

.card.flip {
  transform: rotateY(180deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  /* padding: 10px; */
  position: absolute;
  border-radius: 5px;
  backface-visibility: hidden;
}

.front {
  transform: rotateY(180deg);
}

.blink_me {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
